@page
@model RazorPagesMiniProject.Pages.PersonEntryModel
@{
    ViewData["Title"] = "Person Entry Form";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="FirstName" />
        <input asp-for="FirstName" type="text" placeholder="First Name"/>
    </div>
    <div class="form-group">
        <label asp-for="LastName" />
        <input asp-for="LastName" type="text" placeholder="Last Name" />
    </div>
    <button type="submit">Submit</button>
</form>
<br/>
<h2>List of People</h2>
@foreach(var item in Model.People)
{
    <h3>@item</h3>
}